@font-face {
  font-family: "Roboto";
  src: url("./../fonts/./../fonts/Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("./../fonts/./../fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/./../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("./../fonts/./../fonts/Roboto-BlackItalic.woff") format("woff"), url("./../fonts/./../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Bold.woff2") format("woff2"), url("./../fonts/Roboto-Bold.woff") format("woff"), url("./../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("./../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("./../fonts/Roboto-BoldItalic.woff") format("woff"), url("./../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("./../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-LightItalic.woff2") format("woff2"), url("./../fonts/Roboto-LightItalic.woff") format("woff"), url("./../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("./../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Regular.woff2") format("woff2"), url("./../fonts/Roboto-Regular.woff") format("woff"), url("./../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("./../fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("./../fonts/Roboto-ThinItalic.woff") format("woff"), url("./../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("./../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Black.woff2") format("woff2"), url("./../fonts/Roboto-Black.woff") format("woff"), url("./../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("./../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("./../fonts/Roboto-MediumItalic.woff") format("woff"), url("./../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("./../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Thin.woff2") format("woff2"), url("./../fonts/Roboto-Thin.woff") format("woff"), url("./../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("./../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Light.woff2") format("woff2"), url("./../fonts/Roboto-Light.woff") format("woff"), url("./../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("./../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Italic.woff2") format("woff2"), url("./../fonts/Roboto-Italic.woff") format("woff"), url("./../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Medium.woff2") format("woff2"), url("./../fonts/Roboto-Medium.woff") format("woff"), url("./../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.header .container {
  max-width: 1440px;
  padding: 0 137px;
  margin: 0 auto;
}
.header__inner {
  padding: 17px 0 87px 0;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}
.header__logo {
  width: 210px;
  margin-right: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo svg {
  width: 132px;
  height: 15px;
}
.header__logo-img {
  width: 100%;
  height: 111px;
  background: #FFCC00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}
.header__logo-img img {
  width: 95px;
  height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__info {
  max-width: 931px;
}
.header__info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #D7D7D7;
  margin-bottom: 18px;
}
.header__nav {
  width: 624px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.header__nav-item {
  font-size: 12px;
  letter-spacing: -0.1px;
}
.header__nav-item a {
  color: #252525;
}
.header__login-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__login-reg-item {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #252525;
}
.header__login-reg-item:not(:last-child) {
  margin-right: 26px;
  position: relative;
}
.header__login-reg-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #252525;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -14px;
}
.header__info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__banner-mini {
  width: 253px;
  height: 70px;
  background: #E2E2E2;
  margin-right: 30px;
}
.header__sort {
  width: 164px;
  padding-right: 10px;
}
.header__sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.header__sort-item:not(:first-child) {
  font-size: 12px;
}
.header__sort-item:not(:last-child) {
  margin-bottom: 12px;
}
.header__sort-item img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}
.header__sort-text {
  font-weight: 400;
  color: #252525;
  letter-spacing: -0.1px;
  border-bottom: 0.1rem solid #252525;
}
.header__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 56px;
}
.header__cards-item {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px;
  border: 1px solid #D9D9D9;
}
.header__cards-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__cards-item:not(:last-child) {
  margin-right: 15px;
}
.header__contacts {
  width: 184px;
}
.header__contacts-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.header__contacts-time-value {
  font-size: 12px;
  font-weight: 700;
  color: #252525;
}
.header__contacts-time-key {
  font-size: 12px;
  font-weight: 400;
  color: #252525;
}
.header__contacts-tel {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  color: #252525;
  padding-bottom: 11px;
  border-bottom: 1px solid #D7D7D7;
  letter-spacing: -0.5px;
}
.header__contacts-sity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  width: 100%;
  background: #FFCC00;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 39px;
  height: 100%;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  padding: 0 0 0 5px;
}
.header__search.active {
  width: 200px;
}
.header__input-search {
  background: inherit;
  width: 0;
  height: 0;
  visibility: hidden;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  outline: none;
  border: none;
  border-bottom: 1px solid #252525;
}
.header__input-search.active {
  width: 100px;
  height: 100%;
  visibility: visible;
}
.header__btn-search {
  width: 39px;
  height: 100%;
  border-radius: inherit;
  outline: none;
  border: none;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.header__btn-search img {
  width: 19px;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__page-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #252525;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
.header__page-nav-list li {
  padding: 0 18px;
}
.header__page-nav-list li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}
.header__page-sale {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  padding: 0 14px;
}

.select {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__current {
  font-size: 12px;
  padding: 8px 8px 8px 0;
}

.select.is-active .select__icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select__icon {
  height: 7px;
  width: 7px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.select__span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 12px;
  font-weight: 400;
  color: #252525;
}
.select__span span {
  border-bottom: 1px dashed #252525;
}

.select__body {
  border: 1px solid #cccccc;
  background: #FFFFFF;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
}

.select__item {
  cursor: pointer;
  font-size: 12px;
  padding: 8px;
}

.select__item:hover {
  background-color: #f2f2f2;
}

.mobile {
  display: none;
}

@media (max-width: 860px) {
  .desctop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .container {
    padding: 0 16px;
  }
}/*# sourceMappingURL=style.css.map */