.mobile {
    display: none;
}

@media (min-width: 1600px) {
   
}

@media (max-width: 1300px) {

}

@media (max-width: 860px) {

    .desctop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .container {
        padding: 0 16px;
    }

}

